.style_me{background:#E7EEEE;border:1px solid #888a85;border-top:0;}
.pw_holder{background:#fff;border:1px solid #ccc;border-radius:3px;padding:0.5em;box-shadow: 0px 0px 3px #ddd;}
.pw_type_holder{border-bottom:1px solid #ccc;}
.easy_2046_lw input[type=text]{box-shadow:inset 2px 2px 0px 0px #ddd;background:#f9f9f9;}
.easy_2046_lw input[type=text], .easy_2046_lw select{width:100%;}
.easy_2046_lw textarea{width:100%;}
.easy_2046_lw h3{margin:0 0 0.4em 0.2em;color:#204a87;font-size:1.1em}
.warning{color:red}
.blue{background:blue !important;}
.green{background:green !important;}
.hide{display:none;}
.lw_2046_left, .lw_2046_right{width:300px;float:left;clear:none;margin:0 0 1em 0;}
.easy_2046_lw em{color:#666;}
.lw_2046_left{margin-right:15px;}
.lw_type_change_note{text-align:right;}

.easy_2046_lw .view_holder li, .easy_2046_lw .control_holder li{border:1px solid #ccc;padding:0.5em;border-radius:5px;margin-bottom:0.3em;display:table;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}
.easy_2046_lw li:hover, .ui-draggable-dragging{border:1px solid #aaa;background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

/*
.easy_2046_lw{}
*/
.easy_2046_lw .view_holder, .easy_2046_lw .control_holder{float:left;clear:none;width:48%;background:#fff;border:1px solid #D3D3D3;margin:0 1em 0 0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.easy_2046_lw .control_holder{margin:0;}
.ui-draggable-dragging{position:absolute;z-index:200;float:none;display:block;width:280px;height:35px;padding:0.5em;list-style:none;opacity: .5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);cursor:move}/*fix width while dragging*/
.ui-draggable-dragging *{display: none}
.ui-draggable-dragging strong{display: block}
.easy_2046_lw .general_bank{float:left;margin-bottom:1em;width:100%;}
.easy_2046_lw .general_bank li, .easy_2046_lw .control_bank li{width: 49%;float: left;}
.easy_2046_lw ol{margin-left:0.6em;}
.easy_2046_lw ol li{list-style:none;width:95%}
.easy_2046_lw li:hover{cursor:move;}
.easy_2046_lw .general_bank ul{margin:0;}
.easy_2046_lw .general_bank li, .general_bank li:hover{border:0;background-image:none;cursor:default;}
.easy_2046_lw .rem{float:right;clear:none;display:inline-block;background:#ccc;color:#fff;padding:0 0 2px 0;width:17px;height:15px;text-align:center;border-radius:10px;margin:-0.1em 0 0 0;cursor:pointer;}
.easy_2046_lw .rem:hover{background:#333;color:#fff;}
.easy_2046_lw #control_container, .easy_2046_lw #view_container{width:100%;padding-top:3em;margin:0;float:left;display:block;background:url(../images/here.png) no-repeat top center #f2f2f2;}
.easy_2046_lw #control_container strong, .easy_2046_lw #view_container strong{color:#2F5392;}
.easy_2046_lw .control_h3{margin:-2em 0 0 315px;}/* fix for the alignment */
.easy_2046_lw .control_bank *, .easy_2046_lw .view_bank *, .easy_2046_lw .general_bank .rem{display:none;}
.easy_2046_lw .control_bank ul, .easy_2046_lw .view_bank ul, .easy_2046_lw .control_bank li, .easy_2046_lw .view_bank li, .easy_2046_lw .control_bank strong, .easy_2046_lw .view_bank strong,
.easy_2046_lw .control_bank .res, .easy_2046_lw .view_bank .res
{display:inline-block}
.res{background:rgb(98, 143, 155);color:#fff;padding:0 0.3em;margin:0 0.3em 0 0;-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
h3 .res{margin:0;}
.easy_2046_lw .view_bank li, .easy_2046_lw .control_bank li{width:88%;margin-left:1em;}

.ew2046_check_box{margin-bottom:0.3em}
.easy_2046_lw textarea { resize:vertical; }
.easy_2046_lw input[type=checkbox], .easy_2046_lw input[type=radio]{margin-right:0.2em}
.easy_2046_lw .view_bank, .easy_2046_lw .control_bank{overflow:auto;height:200px;}
.easy_2046_lw .radiogroup{margin:0.5em 0 0.5em 0;padding:0.5em;width:95%;border:1px solid #ccc;border-radius:3px;}
.ui-widget-content{display:block;border:0;padding-right:0.6em;background:#f2f2f2;}
.ui-widget-content ol{height:auto;}
.ui-widget-content ol:empty{height:50px;}


textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {color:rgb(118, 157, 165);}
textarea:-moz-placeholder, input:-moz-placeholder {color:rgb(118, 157, 165);}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {color:rgb(118, 157, 165);}
li.li_5 {margin-top:-1em}
/* Firefox fixes*/
.easy_2046_lw .general_bank li{width: 47%;float: left;margin-right:1em}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.easy_2046_lw .general_bank li{width: 47%;float: left;}
	.easy_2046_lw ol li, .easy_2046_lw #view_container li,.easy_2046_lw #control_container li{width:96%}
}
